@media (-moz-bool-pref: "uc.sidebar-tweaks.sidebar-flush") {
  /* This style is only needed with Multiple toolbar layout  */
  /* in which case #nav-bar is in #zen-appcontent-wrapper instead */
  #navigator-toolbox:not(:has(#nav-bar)) {
    & #zen-sidebar-top-buttons {
      min-height: 0 !important;
      margin: 0 !important;
    }
  }
}

@media (-moz-bool-pref: "uc.sidebar-tweaks.sidebar-margin") {
  #zen-main-app-wrapper[zen-compact-mode="true"] {
    & #navigator-toolbox:not(:has(#nav-bar)) #titlebar {
      margin-top: calc(var(--zen-element-separation) * 2) !important;
    }
  }

  #navigator-toolbox:not(:has(#nav-bar)) #titlebar {
    margin-top: calc(var(--zen-element-separation) / 2) !important;

    @media (-moz-bool-pref: "uc.sidebar-tweaks.bottom-essentials") {
      margin-top: var(--zen-element-separation) !important;
    }
  }
}

@media (-moz-bool-pref: "uc.sidebar-tweaks.top-indicator-align-center") {
  #zen-current-workspace-indicator-container .zen-current-workspace-indicator {
    justify-content: center;
  }
}

:root:has(#theme-Sidebar-Tweaks[uc-sidebar-tweaks-bottom-style="compact"]) {
  #zen-sidebar-bottom-buttons {
    padding: 0 var(--zen-toolbox-padding) !important;
    margin-top: var(--zen-toolbox-padding) !important;

    & #zen-workspaces-button {
      padding: 0 !important;
      --arrowpanel-menuitem-padding-inline: var(
        --arrowpanel-menuitem-padding-block
      ) !important;
    }
  }

  #zen-media-controls-toolbar {
    margin-top: calc(var(--zen-toolbox-padding) / 2) !important;
  }

  @media (-moz-bool-pref: "uc.sidebar-tweaks.bottom-essentials") {
    #zen-essentials-container {
      padding-block: calc(var(--zen-toolbox-padding) / 2)
        var(--zen-toolbox-padding) !important;
    }

    #zen-media-controls-toolbar {
      margin-top: 0 !important;

      /* Top margin only needed with media player */
      &[hidden] ~ #zen-sidebar-bottom-buttons {
        margin-top: 0 !important;
      }
    }
  }
}

:root:has(#theme-Sidebar-Tweaks[uc-sidebar-tweaks-bottom-style="pill"]) {
  #zen-sidebar-bottom-buttons {
    padding: 3px 6px !important;
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--zen-toolbar-element-bg) !important;

    margin-top: var(--zen-toolbox-padding) !important;
    margin-bottom: calc(
      var(--zen-element-separation) - var(--zen-toolbox-padding)
    ) !important;

    & > toolbarbutton {
      padding: 0 !important;

      /* The following values are taken from the media player css */
      & > image.toolbarbutton-icon,
      > stack.toolbarbutton-badge-stack {
        padding: 5px !important;
        width: 26px !important;
        height: 26px !important;
      }
    }
  }

  #zen-media-controls-toolbar {
    margin-top: var(--zen-toolbox-padding) !important;
  }

  #zen-main-app-wrapper[zen-compact-mode="true"] {
    & #zen-sidebar-bottom-buttons {
      margin-bottom: 0 !important;
    }
  }

  @media (-moz-bool-pref: "uc.sidebar-tweaks.bottom-essentials") {
    #zen-essentials-container {
      padding-block: calc(var(--zen-toolbox-padding) / 2)
        var(--zen-toolbox-padding) !important;
    }

    #zen-media-controls-toolbar {
      margin-top: 0 !important;

      /* Top margin only needed with media player */
      &[hidden] ~ #zen-sidebar-bottom-buttons {
        margin-top: 0 !important;
      }
    }
  }
}
