#urlbar {
  & hbox.urlbar-input-container {
    --urlbar-even-padding: calc(var(--urlbar-icon-padding) / 2);

    /* Consistent padding for all URL bar elements */
    & #identity-box > box,
    #tracking-protection-icon-container > box,
    #page-action-buttons > hbox {
      padding-inline: var(--urlbar-even-padding) !important;
    }

    /* Inline space in subgroup */
    #blocked-permissions-container image {
      margin-inline-start: var(--urlbar-icon-padding) !important;
    }

    /* Reset the limited with to not overflow with the added padding */
    & #tracking-protection-icon-box,
    #page-action-buttons hbox {
      width: unset !important;
    }

    /* We replace this with the padding, remove */
    & #userContext-icons,
    #urlbar-zoom-button {
      margin-inline: var(--urlbar-even-padding) !important;
    }

    /* More space for URL */
    & .urlbar-input-box {
      padding-inline: var(--urlbar-icon-padding) !important;
    }
  }
  /* Add button padding as the URL bar inline padding */
  &:not([zen-floating-urlbar]) hbox.urlbar-input-container {
    padding: var(--urlbar-container-padding) var(--urlbar-even-padding) !important;
  }

  &[zen-floating-urlbar] {
    & #identity-box {
      margin-inline-end: 0 !important;
    }
  }
}
