/* Default Firefox layout (used in for example addons page) */
#full {
  grid-template-columns: auto 1fr !important;

  & button.category {
    padding-inline-end: 24px !important;
  }

  /* On medium screens, make sidebar fit content */
  @media screen and (max-width: 1280px) {
    & #sidebar,
    & #sidebar #categories {
      width: fit-content !important;
    }
  }
}

/* Zen Settings Page */
#preferences-root {
  --category-icon-size: 20px; /* Taken from browser CSS, don't change here */
  --category-icon-padding: 10px;
  --category-icon-padding-total: calc(
    2 * calc(var(--category-icon-padding) + 2px)
  );
  /* This additional 2px is a magic number, that was necessary  */
  /* even though the icon is 20px * 20px and padding is 10px on both sides. */

  --category-sidebar-inline-padding: 2rem; /* Default is 4% */
  --category-sidebar-inline-padding-total: calc(
    2 * var(--category-sidebar-inline-padding)
  );

  --category-icon-total-width: calc(
    var(--category-icon-size) + var(--category-icon-padding-total)
  );
  --category-sidebar-total-width: calc(
    var(--category-icon-total-width) +
      var(--category-sidebar-inline-padding-total)
  );

  /* Reduce sidebar padding */
  .navigation {
    padding-inline: var(--category-sidebar-inline-padding) !important;
    padding-block: calc(60px + var(--space-xlarge)) !important;
  }

  /* Push main content down to compensate for the floating search bar */
  .main-content .pane-container {
    margin-top: var(--space-xlarge) !important;
  }

  /* Float the search bar in the middle of main content */
  search-textbox#searchInput {
    position: fixed;
    z-index: 2;
    top: 0;
    width: min(70%, var(--in-content-sidebar-width)) !important;
    background: var(--zen-colors-tertiary) !important;
    box-shadow: var(--zen-big-shadow);
    translate: -50% 0;

    /* compensate for relative location */
    margin-left: var(--category-sidebar-total-width) !important;
    left: calc(50% + var(--category-sidebar-inline-padding-total));
  }

  /* On medium screens, make sidebar fit content */
  @media screen and (max-width: 1280px) {
    & .sidebar-footer-link,
    #categories,
    #categories > .category {
      width: fit-content !important;
    }
  }

  /* On small screens, collapse into icons  */
  @media screen and (max-width: 768px) {
    /* Reduce icon padding */
    & #categories > .category {
      padding-inline: var(--category-icon-padding) !important;
    }

    /* Hide sidebar button labels */
    & .category-name,
    .sidebar-footer-label {
      display: none !important;
    }

    /* Remove margin that separated icon and title */
    & .category-icon {
      margin-right: 0 !important;
    }

    /* Visually separate footer buttons from other buttons */
    .sidebar-footer-list {
      margin-top: var(--space-medium) !important;
    }

    /* Adjust CSS hackery for searchbar float */
    search-textbox#searchInput {
      left: calc(50% - var(--category-sidebar-inline-padding-total)) !important;
    }
  }
}
